main{
    background-color: rgb(214, 214, 214);
}

section{
    width: 300px;
    height: 600px;
    background: rgb(231, 230, 230);
}
.contenido{
    display: flex;
    width: 1300px;
    margin: auto;
}
.filtros{
    padding: 15px;
}
.toolBar{
    display: flex;
    height: 50px;
}
.toolBar p, .OrderBy{
    font-size: 25px;
    justify-content: center;
    margin: auto auto auto 25px;
    display: flex;
}
.OrderBy p{
    margin-right: 20px;
}
.OrderBy select{
    width: 130px;
    font-size: 20px;
}
.CatalogoProductos{
    width: 1000px;
    background: rgb(255, 255, 255);
}
.Productos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 400px;
}
.ProductoItem{
    width: 300px;
    padding: 10px;
    text-align: center;
}
.ProductoItem a{
    text-decoration: none;
}
.infoProducto{
    margin: 10px;
}
